@tailwind base;
@tailwind components;
@tailwind utilities;

/* Efek animasi masuk */
@keyframes modalIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Efek animasi keluar */
@keyframes modalOut { 
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

/* Modal muncul dengan animasi */
.modal-show {
    animation: modalIn 0.3s forwards;
}

/* Modal menghilang dengan animasi */
.modal-hide {
    animation: modalOut 0.3s forwards;
}

 form[data-boc-edit-form] {
    display: none !important;
    }

body {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'TelkomselBatikSans';
    src: url('/fonts/TelkomselBatikSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TelkomselBatikSans';
    src: url('/fonts/TelkomselBatikSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  .gradient-text {
    background: linear-gradient(to right, #D10A3C, #FF0038);
    /* Gradien warna */
    -webkit-background-clip: text;
    /* Klip background ke teks */
    -webkit-text-fill-color: transparent;
    /* Buat teks transparan agar gradien terlihat */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input:focus {
  outline: none;
  box-shadow: none; /* Menghapus shadow biru */
  border-color: red; /* Jika Anda ingin warna border tertentu */
}


